/***** NAVBAR *****/

.navbar {
    background-color: #2a2a35;
    border-radius: 0;
}

/* Navbar title */
.navbar-default .navbar-brand {
    color: white;
    font-size: px;
    font-weight: bold;
}

/* Navbar hover effects */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #e11f09;
    text-decoration: none;
}

/* Navbar links */
.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 14px;
    padding: 10px;
}

/* Navbar collapsed styles */
.navbar-toggler {
    color: #fff;
    border-color: #fff;
    background-color: #3c3c3d;
    border-radius: 4px;
    border: 1px solid;
    fill: #fff;
    font-size: 16px;
    position: relative;
    margin-right: 10px;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
    background-color: #535353;
    color: #050505;
    fill: #242424;
    border-color: #fff;

}

/*** JUMBOTRON ***/

.jumbotron {
    background-image: url("../assets/background.png");
    background-size: cover;
    text-align: left;
    color: #f8f8f8;
    padding: 3%;
    border-radius: 2px;
}

.jumbotron h2 {
    font-size: 36px;
    font-weight: bold;
}

.img-responsive{
    width:100%;
}

/*** CARD ***/

.card-body {
    font-size: small;
}

.card {
    background-color: #f1f3f4;
    border-color: #070707;
    margin-bottom: 20%;
    border-width: 1.5px;
    width: 100%;
}

.card:hover {
    border-color: #d40808;
    border-width: 0.3cm;
}

.text-intro {
    font-size: medium;
}

/*** Basic Text Styles ***/

#about-world {
    max-width: 100%;
}

.resume h3 {
    font-weight: bold;
}

ul li {
    font-style: italic;
}


hr {
    border-color: white;
    border-width: 2px;
}

p {
    font-size: 20px;
}

a {
    color: #863ee3;
}

a:hover {
    color: #ebd122;
}

.container{
    padding:25px 0;
}

body {

    font-family: 'Calibri', serif;
    background-image: url("../assets/indexback.png");
    color: #242424;
}